@charset "utf-8";

/*===== VARIABLES CSS =====*/
:root{
    --color-dark: #000000;
    --color-primary: #29378f;
    --color-secundary: #292929;
    --color-font: #e8e4fd;
}
/* General Settings*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI, Helvetica Neue,Helvetica,Arial,sans-serif;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */

.header{
    color: 0e1627;
    padding: 0px 15px;
    height: 40px;
    background-color: var(--color-primary);
}

.navbar-list, .list-item, .header nav{
    display: inline-block;
}

.header nav{
    float: right;
    margin-top: 10px;
}

.list-item a{
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-font);
}

.navbar-list a:hover{
    color: var(--color-dark);
    border-bottom: 1px solid var(--color-dark);
}

/* Profile card */

.section-profile{
    width: 100%; height: 500px;
    background-color: var(--color-dark);
}

.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.profile-img{
    width: 220px; height: 220px;
    margin-top: 2vh;
    background: url(../img/photo.jpeg);
    background-size: cover;
    background-position: top;
    border-radius: 50%;
    justify-content: center;
}

.profile-name{
    margin:0;
    padding-top: 15px;
    line-height: 1.3;
	font-size: 3.5rem;
	text-align:center;
    letter-spacing:-0.02em;
    color: var(--color-font);
}

.profile-resume{
    align-items: center;
	text-align:center;
	margin: 0px;
	line-height:1.5;
    font-size:1.3rem;
    color: var(--color-font);
} 

/* Skils */

.section-skills{
    background-color: var(--color-primary);
    width: 85%;
    margin-top: -80px;
    border: 1px solid var(--color-font);
    border-radius: 10px;
}

.section-skills .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills-list{
    flex: 1;
    text-align: center;
    padding: 60px 25px;
    color: var(--color-font);
}

.skill-title{
    padding-bottom: 20px;
    font-size: 1.8rem;
}

.central{
    border-right: 1px solid var(--color-font);
    border-left: 1px solid var(--color-font);
}

.skill-item{
    margin-bottom: 50px;
    font-size: 0.9rem;
    line-height: 20px;
}

.list-skill{
    padding-bottom: 40px;
}

.item-skill{
    display: inline-block;
    padding: 2px;
    text-decoration: none;
}

/* Timeline */

.section-timeline{
    padding: 60px 20px;
}

.section-timeline h1{
    text-align: center;
    font-size: 45px;
    color: var(--color-dark);
}

.section-timeline .timeline{
    padding: 50px 0;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.section-timeline .timeline::before{
    content: "";
    position: absolute;
    width: 1px; height: calc(100% - 200px);
    background-color: var(--color-dark);
    left: 50%;
    transform: translateX(-50%);
}

.section-timeline .timeline .row { display: flex; }
.section-timeline .timeline .row.left { justify-content: flex-start; }
.section-timeline .timeline .row.right { justify-content: flex-end; }

.section-timeline .timeline .row .event {
    padding: 20px;
    background-color: #29378f;
    color: var(--color-font);
    width: calc(50% - 30px);
    position: relative;
    box-shadow: 0 10px 20px rgba(57, 112, 255, 0.3);   
}

.section-timeline .timeline .row .event::before {
    content: "";
    position: absolute;
    width: 20px; height: 20px;
    border-radius: 50%;
    background-color: var(--color-dark);
    top: 50%;
    transform: translateY(-50%);
}

.section-timeline .timeline .row.left .event::before {
    right: -40px;
}

.section-timeline .timeline .row.right .event::before {
    left: -40px;
}

.section-timeline .timeline .row .event::after {
    content: "";
    position: absolute;
    width: 20px; height: 20px;
    border-radius: 50%;
    top: 47%;
    transform: rotate(45deg) translateY(-50%);
    z-index: -1;
}

.section-timeline .timeline .row .left .event::after {
    right: -3px;
}

.section-timeline .timeline .row .right .event::after {
    left: -17px;
}

.section-timeline .timeline .row .event h3{
    text-transform: capitalize;
    font-size: 25px;
}

.section-timeline .timeline .row .event h6{
    margin-bottom: 12px;
    font-size: 0.7rem;
}

.section-timeline .timeline .row .event p{
    line-height: 1.6;
    font-size: 1rem;
    letter-spacing: 1px;
}
.section-timeline .timeline .row .event li{
    letter-spacing: 1px;
    margin-left: 20px;
    margin-bottom: 0.6rem;
}


/* Footer*/

footer{
    height: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    border-top: 1px solid var(--color-dark);
}

footer a{
    text-decoration: none;
    color: var(--color-dark);
}
footer i{
    margin-left: 20px;
}
footer P{
    margin: 0.5rem;
}

/* Responsive */
@media(max-width: 768px){
    /* Profile */
    .profile-img{
        width: 12rem; height: 12rem;
    }
    .profile-name{
        font-size: 2.5rem;    
    }
    .profile-resume{
        padding: 1.5rem;
        padding-top: 1rem;
        font-size: 1.2rem;
    }

    /* Skills*/
    .section-skills{
        width: 90%;
    }
    .section-skills .container{
        flex-direction: column;
    }
    .skill-item{
        font-size: 1rem;
    }
    .central{
        border-top: 1px solid var(--color-font);
        border-bottom: 1px solid var(--color-font);
    }
    .skills-list{
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    /* Timeline */
    .section-timeline .timeline::before {
        left: 20px;
    }
    .section-timeline .timeline .row .event {
        width: 100%;
        margin-left: 50px;
        margin-bottom: 50px;
    }
    .section-timeline .timeline .row.left .event::before {
        left: -40px;
    }
    .section-timeline .timeline .row.left .event::after {
        left: -1rem;
    }
    /* Footer */
    footer{
        height: 5rem;
        margin-top: 2.5rem;
        padding-top: 1rem;
        text-align: center;
        border-top: 1px solid var(--color-font);
    }
    footer i{
        margin-left: 1rem;
    }
    

}