@charset "utf-8";

/* General Settings*/

*{
    margin: 0px;
    padding: 0px;
    font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI, Helvetica Neue,Helvetica,Arial,sans-serif;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */

.header{
    color: 0e1627;
    padding: 0px 15px;
    height: 40px;
    background-color: #29378f;
}

.navbar-list, .list-item, .header nav{
    display: inline-block;
}

.header nav{
    float: right;
    margin-top: 10px;
}

.list-item a{
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #e8e4fd;
}

.navbar-list a:hover{
    color: #000000;
    border-bottom: 1px solid #000000;
}

/* Profile card */

.section-profile{
    height: 500px;
    width: 100%;
    background-color: #000005;
}

.profile-container{
    min-width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.profile-img{
    width: 220px; height: 220px;
    margin-top: 2vh;
    background: url(../img/photo.jpeg);
    background-size: cover;
    background-position: top;
    border-radius: 50%;
    justify-content: center;
}

.profile-name{
    margin:0;
    padding-top: 15px;
    line-height: 1.3;
	font-size: 3.5rem;
	text-align:center;
    letter-spacing:-0.02em;
    color: #e8e4fd;
}

.profile-resume{
    align-items: center;
	text-align:center;
	margin: 0px;
	line-height:1.5;
    font-size:1.3rem;
    color: #e8e4fd;
} 

/* Skils */

.section-skills{
    background-color: #29378f;
    width: 85%;
    margin-top: -80px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.section-skills .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills-list{
    flex: 1;
    text-align: center;
    padding: 60px 25px;
    color: #e8e4fd;
}

.skill-title{
    padding-bottom: 20px;
    font-size: 1.8rem;
}

.central{
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
}

.skill-item{
    margin-bottom: 50px;
    font-size: 0.9rem;
    line-height: 20px;
}

.list-skill{
    padding-bottom: 40px;
}

.item-skill{
    display: inline-block;
    padding: 2px;
    text-decoration: none;
}






/* Projects*/

.section-projects{
    width: 100%; height: 500px;
}




/* Footer*/

footer{
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
}

footer a{
    text-decoration: none;
    color: black;
}
footer i{
    margin-left: 20px;
}

/* Responsive */
@media(max-width: 600px){
    h1{
        color: red;
    }
}